.container {
  position: relative;
  width: 250px;
  height: 423px;
  margin: 0;
  padding-bottom: 10px;
  background: rgb(253, 249, 238);
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0;
  background-size: contain;
}

.title {
  margin: 10px auto 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #333;
}

.subtitle {
  margin: 5px auto 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #999;
}

.tab-label {
  span {
    font-size: 11px;
    font-weight: bold;
  }
}

.tab-panel {
  height: 275px;
}

.summ-footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  .misc-button {
    font-size: 10px;
    width: 50%;
  }
}

.summ-option-container {
  margin: 0;
  padding: 0 8px;

  .summ-option-checkbox {
    margin-bottom: 5px;
  }

  .summ-option-add-button {
  }
}

.summ-option-checkbox {
  .MuiFormControlLabel-label {
    font-size: 12px;
    margin-left: 18px;
    color: #444;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-weight: bold;
    font-style: normal; 
    font-variant: normal;
  }
}

.summ-option-add-button {
  span {
    display: block;

    div {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 10px;
    }

    .add-remove-domain {
      text-transform: lowercase;
    }
  }
}

.whitelist-scrollable {
  max-height: 200px;
  overflow: auto;
}

.whitelist-domain-text {
  width: 80%;
  font-size: 10px;
  overflow: auto;
}

.whitelist-domain-text::-webkit-scrollbar { 
  display: none; 
}

.whitelist-add {
  width: 100%;
}

.highlight-title {
  font-size: 16px;
  color: #444;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-weight: bold;
  font-style: normal; 
  font-variant: normal;
}

.color-slider-container {
  margin: 10px 0;
}

.color-slider {
  width: 75%;
}

.highlight-example-container {
  padding: 4px;
  margin: 10px;
}

.highlight-example {
  text-align: center;
  font-weight: bold;
}

.highlight-apply-button-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.highlight-apply-button-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

// TODO Remove these...:

// .summ-option-group p.summ-option-label {
//   float: left;
//   margin: 14px auto 11px 20px;
//   font-size: 12px;
//   color: #333;
// }

// .summ-option-group p.summ-option-link {
//   display: block;
//   margin: 0;
//   text-align: left;
//   font-size: 12px;
//   color: #333;
//   padding-left: 20px;
//   line-height: 40px;
//   text-decoration: none;
//   cursor: pointer;
//   -webkit-transition: all 0.1s linear;
//   -moz-transition: all 0.1s linear;
//   -ms-transition: all 0.1s linear;
//   -o-transition: all 0.1s linear;
//   transition: all 0.1s linear;
// }

// .summ-option-group .summ-option-button {
//   line-height: 40px;
//   font-size: 12px;
//   text-align: center;
//   width: 100%;
// }

// .summ-option-group .summ-option-button:hover {
//   cursor: pointer;
// }

// .summ-option-group p.summ-option-link:hover,
// .summ-option-group p.summ-option-link:active,
// .summ-option-group p.summ-option-link:visited {
//   background: #ddd;
//   color: #000;
// }

// .summ-toast {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin-top: 0;
//   margin-left: auto;
//   margin-right: auto;
//   width: 90%;
//   height: 30px;
//   padding-top: 10px;
//   padding-left: 20px;
//   padding-right: 20px;
//   text-align: center;
//   line-height: 20px;
//   font-size: 12px;
//   color: #fff;
//   background: rgba(255, 200, 20, 0.8);
//   -webkit-box-shadow: 0 0 10px rgba(255, 200, 20, 0.5);
//   -moz-box-shadow: 0 0 10px rgba(255, 200, 20, 0.5);
//   box-shadow: 0 0 10px rgba(255, 200, 20, 0.5);
//   z-index: 100;

//   -webkit-transition: top 0.2s linear;
//   -moz-transition: top 0.2s linear;
//   -ms-transition: top 0.2s linear;
//   -o-transition: top 0.2s linear;
//   transition: top 0.2s linear;
// }

// .summ-toast-hidden {
//   top: -70px;
// }